/*font-family: 'Source Sans Pro', sans-serif;
font-family: 'Source Code Pro', monospace;*/

body {
	font-family: 'Source Sans Pro', sans-serif;
	width: 55%;
	margin: 20px auto 20px auto;
	border: solid 20px #bdc3c7;
	padding: 20px;
}

h2 {
	color: #2c3e50;
	font-size: 2em;
}

hr {
	margin-bottom: 25px;
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.date {
	color: #3496db;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.quote {
	border-left: solid 5px #bdc3c7;
	padding-left: 5px;
}